.login {
    background-color: white;
    color: black;
    border-radius: 30px;
    border: 2px solid white;
    padding: 10px 20px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }
  .login:hover {
    background-color: rgb(179, 177, 177);
    border: 2px solid rgb(179, 177, 177);
    transition: 0.4s ease;
  }
  